body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fc;
}

.signup-container {
    display: flex;
    height: 90vh;
    width: 90vw;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f7f9fc;
}

.content-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.content-section h6 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 0.2rem; /* Increase spacing between inputs */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    font-size: 16px; /* Make text inside inputs larger */
    border-radius: 5px; /* Rounded corners for inputs */
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px)
}

.btn:active {
    background-color: #004494;
    transform: translateY(1px);
}

.footer-text {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-top: 1rem;
}

.footer-text a {
    color: #007bff;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

.image-section {
    flex: 1;
    background: url("../images/welcome-to-monday.png") no-repeat center center;
    background-size: cover;
}
